{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet", type="text/css", href="{% static 'inventory/common.css' %}" />
    <title>{% block title %}Brewbook{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="topnav" class="row">
      {% block topnav %}
      {% endblock topnav %}
    </div>
    <div id="status" class="row">
      {% block status %}
      {% endblock status %}
    </div>
    <div id="main" class="row">
      {% block main %}
      {% endblock main %}
    </div>
  </body>
</html>
