{% extends "./base_inventory.html" %}

{% block title %}{{ block.super }} Report{% endblock %}


{% block main %}
  {% for type, ingredients in ingredient_types.items %}
  <div class="section">
    <h2>{{ type.name }}</h2>
    <table>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
      </tr>
      {% for i in ingredients %}
      <tr class="{% cycle 'tr1' 'tr2' %}">
        <td>{{ i.name }}</td>
        <td>{{ i.quantity_in_stock }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endfor %}
{% endblock main %}
